.*.swp
.*.cmd
*.o
*.ko
*.so
*.order
*.mod.c
drivers/.tmp_versions
drivers/Module.symvers
external/bin/iperf
external/include/
external/packages/.build_count
external/packages/.build_model
scripts/pf-env
service/config/svc.config
service/watchdog/svc.watchdog
target/
tags
util/cli/cli
util/hello.c/helloc
util/hello.cpp/hellocpp
util/vmq_test/vmq_test
util/vmqctl/vmqctl
util/vmshm_test/vmshm_test
util/vmshmctl/vmshmctl
